:root {
  /* --text-color:#F3FF64; */
  --text-color: #ffd988;
  --text-hover: #ffc445;
  --btn-bg: rgba(255, 255, 255, 0.4);
  --btn-hover: rgba(255, 199, 114, 0.753);
}

/* navbar */
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0%;
  left: 0%;
  background: transparent;
}

.logo {
  margin: 1rem 1rem;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.logo:hover {
  filter: brightness(80%);
}

.btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  gap: 1rem;
  margin: 1rem 1rem;
}

.btn {
  position: relative;
  cursor: pointer;
  padding: 10px 25px;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--text-color);
  background: var(--btn-bg);
  outline: none;
  border: 1px solid #fff;
  border-radius: 6px;
  transition: 0.2s all ease-in-out;
}

.btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.btn:hover:after {
  width: 120%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* .btn:hover {
  color: #fff;
  background: var(--btn-hover);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
} */

/* section */
.section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: start;
  align-items: start;
  background: url(./assets/background.jpg);
  background-size: cover;
}

.content {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 0.5rem;
  margin-left: 1rem;
  animation: 1s ease-out 0s 1 slideInLeft;
}

.heading {
  font-weight: 400;
  font-size: large;
  color: #e0e0e0;
  text-align: center;
}

.dish-wrapper {
  width: 60%;
  height: auto;
  display: flex;
  gap: 2rem;
  justify-content: start;
  align-items: end;
}

.dish-wrapper a {
  font-weight: 700;
  color: var(--text-color);
  transition: 0.2s all ease-in-out;
  letter-spacing: 4px;
  text-underline-offset: 4px;
}

.dish-wrapper a:hover {
  letter-spacing: 6px;
}

.dish {
  height: 14rem;
  width: 12rem;
  background: rgba(95, 95, 95, 0.4);
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid #a8a8a8;
  transition: 0.3s all ease-in-out;
}

.dish:hover {
  transform: scale(1.05);
  border: 1px solid #ececec;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.dish-img {
  width: 100%;
  height: 50%;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.main-heading {
  color: #fff;
  font-size: 4rem;
}

.content-para {
  font-size: large;
  color: #d3d3d3;
  margin-bottom: 1rem;
}

.dish-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 0.7rem;
  gap: 0.2rem;
}

.dish-text h1,
p {
  color: #fff;
}

/* animation */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
